# 環境変数ファイル
.env

# node_modules は依存なのでGitに入れない
node_modules/

# アップロードされた一時ファイル（必要に応じて）
uploads/

# ログファイル
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OSごとの不要ファイル
.DS_Store
Thumbs.db

# VSCode設定ファイル
.vscode/

# もしdistやbuildがあれば
dist/
build/
".env" 
